#DON't Push Because ONly for preview Added this files 



# Node modules
/node_modules/

# Build output
/dist/

# Vite cache
/.vite/

# TypeScript output
*.tsbuildinfo
*.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# IDE and editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.swp

# MacOS Finder metadata
.FinderInfo

# npm package lock files

yarn.lock
